body {
  margin: 0;
  font-family: "Open-Sans", sans-serif;
  color: #102a41;
  background-color: rgb(247, 239, 247);
}

#main-header {
  background-color: #355C7D;
  color: white;
  padding: 2rem 5%;
  text-align: center;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: #355C7D;
  border: 1px solid #355C7D;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.btn-alt {
  background-color: transparent;
  border-color: transparent;
  color: #355C7D;
}

.btn:hover {
  background-color: #2b5579;
  border-color: #2b5579;
}

.btn-alt:hover {
  background-color: #a3c1dd;
  border-color: transparent;
}
